@using PlantScape.Models
@model PlantScape.Models.ProjectViewModel
@{
    ViewBag.Title = "AddPlants";
    Layout = "~/Views/Shared/_Layout - Developer.cshtml";
}

<h2>Add Plants to Project</h2>

<h3>@Html.DisplayFor(model => Model.Project.projectName)</h3>


@foreach (Plants plant in Model.Plants)
{
    <table class="table">
        <tr>
            <td>
              <Lable>Plant Id:</Lable> @Html.DisplayFor(modelItem => plant.id)
            </td>
            </tr>
        <tr>
            <td>
                <Lable>Image:</Lable> <a href="@Html.DisplayFor(modelItem => plant.imageUrl)"><img src="@Html.DisplayFor(modelItem => plant.imageUrl)" alt="No Image" style="width : auto ;height: 30% ; max-height: 20%" /></a>
            </td>
            </tr>
        <tr>
            <td>
                <Lable>Botanical Name:</Lable> @Html.DisplayFor(modelItem => plant.botanicalName)
            </td>
            </tr>
        <tr>
            <td>
                <Lable>Common Name:</Lable> @Html.DisplayFor(modelItem => plant.commonName)
            </td>
            </tr>
        <tr>
            <td>
                <Lable>Plant Type:</Lable> @Html.DisplayFor(modelItem => plant.type)
            </td>
        </tr>
        <tr>
            <td>
                <Lable>Plant Foliage Color (Spring):</Lable> @Html.DisplayFor(modelItem => plant.fColorSpring)
            </td>
        </tr>
        <tr>
            <td>
                <Lable>Plant Foliage Color (Fall):</Lable> @Html.DisplayFor(modelItem => plant.fColorFall)
            </td>
        </tr>
        <tr>
            <td>
                <Lable>Flower Type:</Lable> @Html.DisplayFor(modelItem => plant.flowers)
            </td>
        </tr>
        <tr>
            <td>
                <Lable>Leaf Type:</Lable> @Html.DisplayFor(modelItem => plant.leafType)
            </td>
        </tr>
        <tr>
            <td>
                <Lable>Hardiness Zone:</Lable> @Html.DisplayFor(modelItem => plant.hardinessZone)
            </td>
        </tr>
        <tr>
            <td>
                <Lable>Soil Type*:</Lable> @Html.DisplayFor(modelItem => plant.soilType)
            </td>
        </tr>
        <tr>
            <td>
                <Lable>Light Requirement:</Lable> @Html.DisplayFor(modelItem => plant.lightReq)
            </td>
        </tr>
    </table>
    using (Html.BeginForm("AddPlants", "Developer", new { projId = Model.Project.id , plantId = plant.id}, FormMethod.Post, new { }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add Plant" class="btn btn-default" />
            </div>
        </div>
    }
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
