@model IEnumerable<PlantScape.Models.Plants>
<head>
@{
    ViewBag.Title = "Browse";
    Layout = "~/Views/Shared/_Layout - Developer.cshtml";
}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="~/Content/Fonts.css" type="text/css" rel="stylesheet" />
</head>
<h2 class="PageName">Browse Plants</h2>

<p>
    @Html.ActionLink("Add a New Plant to the Database", "Create","Plants",new { },new { @class="Header" })
</p>

<p>OR</p>
<p class="Header">Add a CSV file to the Database. learn more here.</p>
@using (Html.BeginForm("Index", "Plants", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" />
    <input type="submit" value="OK" />
}
<br />
<p>
    @Html.ActionLink("Search for specific plants", "SearchView","Developer", new { }, new { @class = "Header" })
</p>
<br />
<table class="table-hover">
    <tr>
        <th>
            Image
        </th>
        <th>
            Botanical Name
        </th>
        <th>
            Common Name
        </th>
        <th>
            Type
        </th>
        <th>
            Foliage Color (Spring)
        </th>
        <th>
            Foliage Color (Fall)
        </th>
        <th>
            Flowers 
        </th>
        <th>
            Leaf Type
        </th>
        <th>
            Hardiness Zone
        </th>
        <th>
            Soil Type*
        </th>
        <th>
            Light Requirements
        </th>
        <th>
            <lable>Add To Favorites</lable>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="@Html.DisplayFor(modelItem => item.imageUrl)"><img src="@Html.DisplayFor(modelItem => item.imageUrl)" alt="View Image" style="width : auto; height: 20% ;max-height: 10%" /></a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.botanicalName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.commonName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fColorSpring)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fColorFall)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.flowers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.leafType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hardinessZone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.soilType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lightReq)
            </td>
            <td>
                @Html.ActionLink("Add", "AddToFavorites", "Developer", new { id = item.id }, new { })
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Plants", new { id = item.id }, new { }) |
                @Html.ActionLink("Details", "Details", "Plants", new { id = item.id }, new { }) |
                @Html.ActionLink("Delete", "Delete", "Plants", new { id = item.id }, new { })
            </td>
        </tr>
    }

</table>
<br />
<div>
    <p>* Diffrent plants grow in diffrent soil types. Below is a list of which diffrent soil types that the selected plant will grown in. The Soil Type Keys are as follows:</p>

    <ul>
        <li>1 = Urban</li>
        <li>2 = Clay</li>
        <li>3 = Clay Loam</li>
        <li>4 = Sandy Loam</li>
        <li>5 = Silt Loam</li>
        <li>6 = Urban, Clay, Clay Loam, Sandy Loam, Silt Loam</li>
        <li>7 = Urban, Clay, Clay Loam, Sandy Loam</li>
        <li>8 = Urban, Clay, Clay Loam</li>
        <li>9 = Urban, Clay Loam, Sandy Loam, Silt Loam</li>
        <li>10 = Urban, Clay Loam, Sandy Loam</li>
        <li>11 = Urban, Sandy Loam, Silt Loam</li>
        <li>12 = Sandy</li>
        <li>13 = Urban, Clay, Clay Loam, Sandy Loam, Sandy, Silt Loam</li>
        <li>14 = Clay, Clay Loam, Sandy Loam, Sandy, Silt Loam</li>
        <li>15 = Clay Loam, Sandy Loam, Sandy, Silt Loam</li>
        <li>16 = Sandy Loam, Sandy, Silt Loam</li>
        <li>17 = Sandy, Silt Loam</li>
        <li>18 = Sandy, Sandy Loam</li>
        <li>19 = Clay Loam, Sandy Loam, Silt Loam</li>
        <li>20 = Clay, Clay Loam, Sandy Loam, Silt Loam</li>

    </ul>
</div>

