@using PlantScape.Models;
@model IEnumerable<PlantScape.Models.ProjectsViewModel>
@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/Shared/_Layout - Developer.cshtml";
}

<h2>Projects</h2>

<p>
    @Html.ActionLink("Create New", "Create","Projects")
</p>
<table class="table">
    <tr>
        <th>
         <Lable>Project Name</Lable>
        </th>
        <th>
          <Lable>Project Design Drawing</Lable>
        </th>
        <th>
            <label>Plants Selected for Project</label>
        </th>
        <th>
            <label>User Comments</label>
        </th>
        
    </tr>

    @foreach (var project in Model)
    {
        foreach (var proj in project.Projects)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => proj.projectName)
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => proj.displayImage)" alt="No Image" style="width : 20%; height: 20%" />
            </td>
            <td>
<table class="table"> 
        @foreach (var plant in proj.plantList)
        {

            <tr>
                <td>
                    <img src="@Html.DisplayFor(modelItem => plant.imageUrl)" alt="No Image" style="width : 100%; height: 20%" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => plant.botanicalName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => plant.commonName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => plant.type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => plant.fColorSpring)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => plant.fColorFall)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => plant.flowers)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => plant.leafType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => plant.hardinessZone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => plant.soilType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => plant.lightReq)
                </td>
            </tr>
        }
</table>
            </td>
            <td>
                @Html.DisplayFor(modelItem => proj.userComments)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Projects", new { id = proj.id }, new { }) |
                @Html.ActionLink("Add Image", "AddImage", "Projects", new { id = proj.id }, new { }) |
                @Html.ActionLink("Add Plants", "AddPlants", "Developer", new { id = proj.id }, new { }) |
                @Html.ActionLink("Delete", "Delete", "Projects", new { id = proj.id }, new { })
            </td>
        </tr>
            }
        }

</table>
