@using PlantScape.Models
@model IEnumerable<PlantScape.Models.ProjectsViewModel>
<head>
    @{
        ViewBag.Title = "ViewQuotes";
        Layout = "~/Views/Shared/_Layout - Client.cshtml";
    }


</head>
<h2>View Quote</h2>

<table class="table-hover">
    <tr>
        <th>
          <label>Project Name</label>
        </th>
        <th>
          <lable>Your Design Drawing</lable>
        </th> 
        <th>
            <lable>Plants Chosen for Your Project</lable>
        </th> 
        <th>
            <lable>Your Total Quote</lable>
        </th> 
        <th>
            <lable>Your Comments</lable>
        </th> 
        <th></th>
    </tr>

    @foreach (var model in Model)
    {
        foreach (var project in model.Projects)
        { 
        <tr>
            <td>
                @Html.DisplayFor(modelItem => project.projectName)
            </td>
            <td>
                <a href="@Html.DisplayFor(modelItem => project.displayImage)"><img src="@Html.DisplayFor(modelItem => project.displayImage)" alt="No Image" style="width : auto; max-height: 50%" /></a>
            </td>
            <td>
            <table class="table">
    @foreach (var plant in project.plantList)
    {

        <tr>
            <td>
                <a href="@Html.DisplayFor(modelItem => plant.imageUrl)"><img src="@Html.DisplayFor(modelItem => plant.imageUrl)" alt="View Image" style="width : auto; height: 20% ;max-height: 10%" /></a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => plant.commonName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => plant.type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => plant.flowers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => plant.lightReq)
            </td>
        </tr>
    }
</table>
            </td>
            <td>
               $@Html.DisplayFor(modelItem => project.Quote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => project.userComments)
            </td>
            <td>
                @Html.ActionLink("Edit Comment","EditComment","Client",new { id = project.id},new { })
            </td>
</tr>
        }
    }
    </table>